.center{
  text-align: center;
}

.console-log {
  background-color: black;
  color: limegreen;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  margin: 10px;
  height: 300px;
  overflow-y: scroll;
  white-space: pre-wrap;
}